User={{ zbx_os_user_agentd }}
PidFile=/run/zabbix-agentd/zabbix_agentd.pid
LogFile=/var/log/zabbix-agentd/zabbix_agentd.log
LogFileSize=10
Server={{ zbx_server_hostname }}
ServerActive={{ zbx_server_hostname }}
Hostname={{ zbx_server_hostname }}
