User={{ zbx_os_user_server }}

ListenPort={{ zbx_server_port }}

DBHost={{ zbx_db_server }}
DBName={{ zbx_db_name }}
DBUser={{ zbx_db_username }}
DBPort={{ zbx_db_port }}
DBPassword={{ zbx_db_password }}
DBSocket=/var/lib/mysql/mysql.sock

AlertScriptsPath=/usr/lib/zabbix/alertscripts
ExternalScripts=/usr/lib/zabbix/externalscripts

PidFile=/run/zabbix-server/zabbix_server.pid

DebugLevel=3
LogFile=/var/log/zabbix-server/zabbix_server.log
LogFileSize=10

StartPollers=30
StartPollersUnreachable=5
StartTrappers=10
StartPingers=5
CacheSize=64M
StartDBSyncers=8
Timeout=15
