[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0

table_cache=512

innodb_buffer_pool_size=1000M
innodb_flush_method=O_DIRECT
innodb_log_file_size=64M
innodb_file_per_table
innodb_flush_log_at_trx_commit=2

log_slow_queries=/var/log/mariadb/mysql.slow.log
thread_cache_size=4
query_cache_limit=1M
query_cache_size=128M
tmp_table_size=256M

max_heap_table_size=256M
max_connections = 400

join_buffer_size=256k
read_buffer_size=256k
read_rnd_buffer_size=256k
