#
# Em testes - NAO UTILIZAR EM PRODUCAO
#


[client]
#password       = your_password
port            = 3306
socket          = /var/lib/mysql/mysql.sock

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0

# https://www.zabbix.com/forum/showthread.php?t=12407
#tmpdir=/zbx_tmp

table_cache=512

innodb_buffer_pool_size=12000M
innodb_flush_method=O_DIRECT
innodb_log_file_size=64M
innodb_file_per_table
innodb_flush_log_at_trx_commit=2

log_slow_queries=/var/log/mariadb/mariadb.slow.log
thread_cache_size=4
query_cache_limit=1M
query_cache_size=128M
tmp_table_size=256M

max_heap_table_size=256M
max_connections = 400

join_buffer_size=256k
read_buffer_size=256k
read_rnd_buffer_size=256k


#
# Antiga configuracao - COM ERROS AO SUBIR SERVICO
#

[mysqld]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
skip-locking
key_buffer_size = 384M
max_allowed_packet = 1M
table_open_cache = 512
sort_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 8M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
query_cache_size = 32M
# Try number of CPU's*2 for thread_concurrency
thread_concurrency = 32

# R.Brasil-08102014
max_connections=800
wait_timeout=84600

# Replication Master Server (default)
# binary logging is required for replication
log-bin=mysql-bin
expire_logs_days = 3
max_binlog_size  = 500M


# required unique id between 1 and 2^32 - 1
# defaults to 1 if master-host is not set
# but will not function as a master if omitted
server-id       = 1

innodb_data_home_dir = /var/lib/mysql
innodb_data_file_path = ibdata1:2000M;ibdata2:10M:autoextend
innodb_log_group_home_dir = /var/lib/mysql

# You can set .._buffer_pool_size up to 50 - 80 %
# of RAM but beware of setting memory usage too high
innodb_buffer_pool_size = 500M
innodb_additional_mem_pool_size = 20M

# Set .._log_file_size to 25 % of buffer pool size
#innodb_log_file_size = 125M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50

# R.Brasil: Possiveis alteracoes
innodb_file_per_table
#innodb_buffer_pool_size=22G
#innodb_additional_mem_pool_size=256M
#key_buffer=128M
#query_cache_type=1
#query_cache_limit=256M
#query_cache_size=512M
#innodb_flush_log_at_trx_commit=2
#innodb_thread_concurrency=8
#thread_cache_size=8
#innodb_flush_method=O_DIRECT
#max_heap_table_size=2048M
#tmp_table_size=2048M
#table_cache=256M
#max_write_lock_count=1
#sort_buffer_size=8M

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

#[myisamchk]
#key_buffer_size = 256M
#sort_buffer_size = 256M
#read_buffer = 2M
#write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
